body {
    display: flex;
    flex-direction: column;
    background-color: #23395d;
    font-family: sans-serif;
    font-weight: 700;
}

.header {
    color: white;
    align-self: center;
}

.game-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 40px
}

.buttons button {
    padding: 0px;
    border: 0px;
    height: 218px;
    transition-duration: 350ms;
}

.buttons button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem #050505;
}

.resultContainer div {
    padding: 10px;
}

.resultContainer .playerchoice {
    align-self: center;
}

.resultContainer .computerchoice {
    align-self: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}